.selectOccasion{
  span{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    display: block;

  }
.selectOccasionItem{
  border: 1px solid;

  height: 100%;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(28, 28, 28, 1);
  padding-top: 20px;
  padding-bottom: 20px;
 span{
   padding-top: 10px;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0px;
 }
  img{
    width: 42px;
  }
}
}