.CardCreateNewEvent{
  background: linear-gradient(107.73deg, #50586A 11.4%, #1E2530 85.72%);
  border-radius: 8px;
  padding: 20px;


  margin-bottom: 8px;

  span{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  p{
padding-top: 1%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    text-align: left;

    color: #FFFFFF;
  }
  img{
    width: 76px;
    float: right;
  }
}
.NewButton{
  button{
    float: right;
  }

}
.textUp{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;

}
.todo{
  font-size: 12px!important;
  font-weight: 400!important;
  line-height: 15px!important;
  letter-spacing: 0px;

}