.selectBox{
  width: 100%;
  color: white;
  border:none;
  border-radius: 8px;
  background-color: #1C1C1C;
  text-align: left;
  padding: 11px 0px 12px 15px;
  font-size: 14px;
  font-weight: 700;
 line-height:  17.07px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.selected{
  border: 1px solid #76A9FF;
  background-color: #292E36;
}