.buttonCreateNewEvent{
  background-color: rgba(118, 169, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
padding: 11px 16px 12px 16px;
  border-radius: 6px;
  border: none;
}