.chacklist{
  padding:-10px 0px 0px 0px;
  color: #FFFFFF;
  border-bottom:1px solid #313131 ;
  .infoTodo{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;

  }
}
